
@using Model_Layer.Models;
@model  IEnumerable<ClientTeam>

@section PageStyle
{
    <style>
        .dz-error-mark {
            background: #b10429;
            display: inline-block;
            padding: 5px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: #fff;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            display: block;
            max-width: 100%;
            height: 110px !important;
            margin: 0px auto;
        }

        #imagepreview {
            height: 120px;
            border: 1px solid #3b3838;
            width: 90%;
            text-align: center;
        }

        .img-thumbnail {
            height: 210px;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Team</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">The Business</li>
                <li class="breadcrumb-item active">Team</li>

            </ol>
            &nbsp;&nbsp;
            <a href="" class="btn btn-info return jsSubmit" data-toggle="modal" data-target="#dialogClientUpdate">Add New </a>
            @*<a href="~/Team/Create" class="btn btn-info return jsSubmit">Add New </a>*@
            @*<button type="button" class="btn btn-info btn-rounded m-t-10 float-right"
                        data-toggle="modal" data-target="#add-contact">
                    Add New Team
                </button>*@
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card card-body">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3 text-center">
                        <a href="app-contact-detail.html"><img src="../Content/file_upload/@(item.ImageID == null ? "profile-dummy.png" : item.ImageID)" width="90" alt="user" class="img-circle img-fluid"></a>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0">@item.FirstName  @item.LastName </h3>
                        @{ var arrayRoles = String.IsNullOrEmpty(item.RoleInCompany) == false ? item.RoleInCompany.Split(',').ToArray() : new string[0];
                                List<string> roleArray = new List<string>();
                            }
                            @foreach (var role in ViewBag.Role)
                            {
                                if (Array.Exists(arrayRoles, x => x == Convert.ToString(@role.ID)) == true)
                                {
                                    roleArray.Add(@role.Value);
                                }
                            }
                        
                         @string.Join(", ", roleArray.ToArray())
                       
                        <address>
                            <abbr title="Phone"><i class="fas fa-phone-square"></i></abbr> @item.Phone
                            <br />
                            <i class="icons-Email"></i> @item.Email
                            <br />
                            <i class="icons-Globe"></i> @item.CountryName
                        </address>
                    </div>
                    <div class="col-md-12 text-right" style="font-size:19px">
                        <a href="@item.LinkedProfile"><i class="fab fa-linkedin"></i></a>

                        <a href="/Profile?clientID=@item.ClientID"><i class="icons-Professor"></i></a>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
<!-- /.row -->

@section PageScript
{
    <script src="~/Content/app_script/page_script/team.js?version=@DateTime.Now"></script>
}
